<body class="nosotrosbody">

    <!--Banner Inicial-->
    <div class="banner-second">
        <div class="banner-container ">
            <h1 id="titulon">Nosotros</h1>
        </div>
    </div>



    <div class="bodydiv">
        <!-- Imagenes, redes, objetivos, información -->
        <br><br>
        <!--quienes somos contenedor-->
        <div class="contenedor">
            <div class="objetivostexto bordegeneral textoscolor" data-aos="fade-up" data-aos-duration="1000">
                <h2 class="textoscolor">¿Quiénes somos?</h2>
                <p>Acolite S.O.S, es una innovación para el mundo de los mecánicos de nuestro país,<br>
                    brindandoles una ayuda en sus trabajos diarios, generando más oportunidades de <br>
                    darse a conocer por su excelencia a la hora de atender a los usuarios que confien <br>
                    en nuestro sistema.<br>
                    <br>

                </p>
                <img src="../../../../assets/imhg/Nosotros/Logo.png" alt="" class="imgquienes">
            </div>
        </div>
        <br><br>

        <!--objetivos contenedor-->
        <br>
        <div class="contenedor">
            <div class="objetivostexto bordeIzquierdo textoscolor" data-aos="fade-left" data-aos-duration="1000">
                <h2 class="textoscolor">Misión</h2>
                <p>Brindar una solución fiable y garantizada<br>
                    a las personas que tengan incidentes <br>
                    mecánicos surgidos con sus medios de <br>
                    transporte.
                </p>
            </div>
            <div class="contenedorvaciotexto"></div>
            <div class="objetivostexto bordeDerecho textoscolor" data-aos="fade-right" data-aos-duration="1000">
                <h2 class="textoscolor">Visión</h2>
                <p>Llegar a ser una empresa conocida a nivel<br>
                    nacional y brindar un servicio con la más<br>
                    alta calidad. <br>
                </p>
            </div>
        </div>
        <br><br><br>
        <!-- acaban las img y redes -->
    </div>
</body>