<!--animacion-->
<div class="burbujas">
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
</div>

<img src="../../../assets/imhg/Nosotros/background/bg.jpg" alt="" class="bg-img">
<div class="container">
  <div class="boxlogin" data-aos="fade-down">
    <!-- Logo -->
    <img src="../../../assets/imhg/logos/Logo.png" alt="" class="logo"><br><br>

    <form class="formulario form" (ngSubmit)="login()" [formGroup]="formGroup">
      <div class="mb-3">
        <label for="email" class="form-label textoform">Correo Electrónico</label>
        <input class="form-control bg bg-dark shadow-lg text-bg-secondary" type="email" id="email"
          formControlName="email" required="" autocomplete="off" spellcheck="false" placeholder="Escribe tu email" />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label textoform">Contraseña</label>
        <input class="form-control bg bg-dark shadow-lg text-bg-secondary" type="password" id="password"
          formControlName="password" required="" autocomplete="off" spellcheck="false"
          placeholder="Escribe tu contraseña" />
      </div>
      <div class="mb-3 form-check terminos d-flex justify-content-center gap-2">
        <input type="checkbox" class="form-check-input bg-dark" formControlName="terms_and_conditions">
        <label class="form-check-label textoform" for="exampleCheck1 "> Aceptar <a href="javascript: void(0);" class="textoterminos"> <b>términos</b></a></label>
      </div>
      <button [disabled]="!formGroup.valid"  type="submit" class="btn btn-primary">Iniciar Sesión</button>
    </form>
    <!-- Footer--><br>
    <footer class="footer footer-alt">
      <p class=" texton">
        No tienes cuenta con nosotros?
        <a href="/register" class="ms-1 textoterminos"><b> ¡Regístrate!</b></a>
      </p>
    </footer>
  </div>
  
</div>
