<body>
    <div id="class" class="body">

        <!-- carrusel general-->
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../assets/imhg/carrusel/imagen1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/imhg/carrusel/imagen2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/imhg/carrusel/imagen3.jpeg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <br><br>
        <!-- Información adicional  -->
        <div class="contenedorh">
            <div class="bordeIzquierdo" data-aos="fade-right" data-aos-duration="1000" align="center">
                <img src="https://img.icons8.com/ios-glyphs/50/000000/car-service.png" />
                <p id="phome">Nos especializamos en brindar<br>
                    el servicio que tu medio de<br>
                    transportediario merece, con<br>
                    mecánicos calificadosy aprobados<br>
                    por la comunidad, para asegurar <br>
                    la calidad máxima en atención y <br>
                    reparaciones precisas con expertos.
                </p>
            </div>
            <div class="contenedorvacioc"></div>
            <div data-aos="fade-up" data-aos-duration="1000" class="bordeAbajo" align="center">
                <img src="https://img.icons8.com/ios-filled/50/000000/tow-truck.png" />
                <p id="phome">Cada día encontramos una nueva<br>
                    mejora para brindar a nuestros<br>
                    visitantes y usuarios por eso es <br>
                    que próximamente agregaremos a <br>
                    personas que puedan ayudarte a<br>
                    movilizar tu medio de transporte <br>
                    en caso de tener algún inconveniente<br>
                    mayor.
                </p>
            </div>
            <div class="contenedorvacioc"></div>
            <div class="bordeDerecho" align="center" data-aos="fade-left" data-aos-duration="1000">
                <img src="https://img.icons8.com/ios-filled/50/000000/tow-truck.png" />
                <p id="phome">Cada día encontramos una nueva<br>
                    mejora para brindar a nuestros<br>
                    visitantes y usuarios por eso es <br>
                    que próximamente agregaremos a <br>
                    personas que puedan ayudarte a<br>
                    movilizar tu medio de transporte <br>
                    en caso de tener algún inconveniente<br>
                    mayor.
                </p>
            </div>
        </div>
        <br><br><br>

        <!--Contacto-->
        <div class="contenedorc">
            <div class="contenedorvacioc"></div>
            <div class="redesT" data-aos="fade-right" data-aos-duration="1000">
                <h3 class="texttitulo">¡Síguenos!</h3>
                <h3 class="textcard">Facebook</h3>
                <a href="https://www.facebook.com/"><img class="redes"
                        src="https://img.icons8.com/fluency/50/null/facebook-new.png" /></a>
                <h3 class="textcard">Instagram</h3>
                <a href="#"><img class="redes" src="https://img.icons8.com/color/50/null/instagram-new--v1.png" /></a>
                <h3 class="textcard">Youtube</h3>
                <a href="#"><img class="redes" src="https://img.icons8.com/fluency/50/null/youtube-play.png" /></a>

            </div>
            <div class="contenedormitadc"></div>
            <div class="contenedortextoc" data-aos="fade-left" data-aos-duration="1000">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7979.57225522634!2d-78.52407352707267!3d-0.23016552054945327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d5999d7f1317ef%3A0x99bc58bb0611a5e7!2sYavirac%2C%20Quito%20170111!5e0!3m2!1ses-419!2sec!4v1649794669846!5m2!1ses-419!2sec"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </div>

        <br><br><br>
    </div>
</body>