.spacer {
  flex: 1 1 auto;
}

/*index diseños*/
/*animación derecha*/



/*estilos generales*/
body {
  padding: 0;
  margin: 0;
  width: 100%;
  background: #e4e4e4;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}


/* contenedor de divs*/

.contenedorh {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}


.contenedorvacioh {
  width: 10%;
}


/*diseño texto*/
.redesT {
  text-align: center;
}

.redesTi {
  text-align: center;
  font-size: 40px;
  color: black;
}

.redes {
  font-size: 50px;
  color: beige;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  filter: drop-shadow(24px 6px 14px rgba(61, 61, 61, 0.5));
  padding: 18px;
}

.textcard {
  font-size: 15px;
  color: black;

}

.redes:hover {
  width: 70%;
}

.texttitulo {
  font-size: 30px;
  padding-bottom: 50px;
  color: black;
}

/*contenedores*/
.contenedorc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}

.contenedortextoc {
  width: 50%;
  filter: drop-shadow(24px 6px 14px rgba(0, 0, 0, 0.5));
}

.contenedorvacioc {
  width: 8.5%;
}

.contenedormitadc {
  width: 25%;
}

/*dimensionando textos e img de info*/

#phome {
  text-align: justify;
  color: black;
}

/*bordes para cajas de texto*/

.bordeDerecho {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #48c1e6, #ffffff00);
  filter: drop-shadow(24px 6px 14px rgba(0, 0, 0, 0.096));
  padding: 10px;
}

.bordeIzquierdo {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #ffffff00, #48c1e6);
  filter: drop-shadow(24px 6px 14px rgba(0, 0, 0, 0.096));
  padding: 10px;
}

.bordeAbajo {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to bottom, #48c1e6, #ffffff00, #ffffff00, #48c1e6);
  filter: drop-shadow(24px 6px 14px rgba(0, 0, 0, 0.096));
  padding: 10px;
}

/*modificando body*/

.body {
  background-size: auto;
  opacity: 1;
}