<div class="burbujas">
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
</div>

<div class="container">
  <div class="row">
    <div class="form">
      <div *ngIf="!vehiculos || vehiculos.length == 0">El usuario no tiene vehículos</div>
      <table class="table table-dark table-striped" *ngIf="vehiculos && vehiculos.length > 0">
        <thead>
          <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Color</th>
            <th>Placa</th>
            <th>Editar</th>
          </tr>
        </thead>
        <div class="espacio"></div>
        <tbody>
          <tr *ngFor="let vehiculo of vehiculos">
            <td>{{ vehiculo.marca }}</td>
            <td>{{ vehiculo.modelo }}</td>
            <td><i class="i-vehiculo fa-solid fa-car" style="color: {{ vehiculo.color }}; font-size: 25px;"></i></td>
            <td>{{ vehiculo.placa }}</td>
            <td><button  (click)="openPopup()" (click)="getVehiculo(vehiculo.id)"><i class="fa-solid fa-pen-to-square"></i></button></td>
          </tr>
        </tbody>
      </table>
<br><br>
      <button class="btn btn-primary"  (click)="openPopup()">Crear Vehiculo</button>


<!-- crear vehículo -->
      <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
        <div class="bg-blur-modal"></div>
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"><b>{{title}}</b></h4>
            </div>
            <div class="modal-body">
              <div >
                <form class="editar" [formGroup]="formGroup">
                  <div class="form-row">
                    <div class="form-group col-md-8">
                      <i class="i-vehiculo fa-solid fa-car" style="color: {{ vehiculo.color }}; font-size: 25px;"></i> <br>
                      <label for="name">Placa:</label>
                      <input formControlName="placa" style="color: black;" type="text" id="name" name="name"
                        class="form-control" [(ngModel)]="vehiculo.placa">
                      <small *ngIf="formGroup.get('placa').errors &&
                  formGroup.get('placa').hasError('maxlength')" class="text-danger">Máximo 6 caracteres</small>
                      <small *ngIf="formGroup.get('placa').errors &&
                  formGroup.get('placa').hasError('required')" class="text-danger">Se debe llenar</small>
                      <small *ngIf="formGroup.get('placa').errors &&
                  formGroup.get('placa').hasError('minlength')" class="text-danger">Minimo 5 caracteres</small>
                    </div>
                    <br>
                    <div class="form-group col-md-8">
                      <label for="email">Marca: </label>
                      <input formControlName="marca" style="color: black;" type="text" id="inputmarca" name="marca"
                        class="form-control" [(ngModel)]="vehiculo.marca">
                      <small *ngIf="formGroup.get('marca').errors &&
                  formGroup.get('marca').hasError('required')" class="text-danger">Se debe llenar</small>
                    </div>
                    <br>
                    <div class="form-group col-md-8">
                      <label for="modelo">Modelo: </label>
                      <input formControlName="modelo" style="color: black;" type="text" id="inputModel" name="modelo"
                        class="form-control" [(ngModel)]="vehiculo.modelo">
                      <small *ngIf="formGroup.get('modelo').errors &&
                  formGroup.get('modelo').hasError('required')" class="text-danger">Se debe llenar</small>
                    </div>
                    <br>
                  </div>
                  <div class="form-group col-md-8">
                    <label for="inputNombres">Color:</label>
                    <input formControlName="color" type="color" class="form-control form-control-color w-100"
                      id="exampleColorInput" [(ngModel)]="vehiculo.color" title="Choose your color">
                    <small *ngIf="formGroup.get('color').errors &&
                  formGroup.get('color').hasError('required')" class="text-danger">Se debe llenar</small>
                  </div>
                  <br>
                  <br><br>
                  <button [disabled]="!formGroup.valid" type="submit" class="btn btn-primary btn-guardar"
                    (click)="submit()" (click)="clear()" (click)="closePopup()">Guardar</button>
                </form>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="closePopup()" (click)="clear()">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="img3d">

      <!-- example rueda -->
      <app-canvas-box></app-canvas-box>

    </div>
  </div>
</div>