<!--animacion-->
<div class="burbujas">
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
</div>

<img src="../../../assets/imhg/Nosotros/background/bg.jpg" alt="" class="bg-img">
<div class="container">
  <div class="boxlogin" data-aos="fade-down">
    <!-- logo -->
    <img src="../../../assets/imhg/logos/Logo.png" alt="" class="logo"><br><br>
    <!-- form -->
    <form (ngSubmit)="register()" [formGroup]="formGroup" class="formulario form">
      <div class="mb-3">
        <label for="role" class="form-label text-light">Tipo de Usuario </label>
        <select id="role" formControlName="role" class="form-select form-select-sm bg-dark text-light">
          <option selected>Selecciona una opción..</option>
          <option *ngFor="let role of roles" value={{role.id}}>{{role.name}}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label text-light">Nombre de usuario</label>
        <input class="form-control bg bg-dark shadow-lg text-bg-secondary" formControlName="name" type="text" id="name"
          placeholder="Ingresa tu usuario" required />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label text-light">Correo electrónico</label>
        <input class="form-control bg bg-dark shadow-lg text-bg-secondary" formControlName="email" type="email"
          id="emailaddress" required placeholder="Ingresa tu correo electrónico" />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label text-light">Contraseña</label>
        <input class="form-control bg bg-dark shadow-lg text-bg-secondary" formControlName="password" type="password"
          required id="password" placeholder="Ingresa tu contraseña" />
      </div>
      <div class="form-check p-3 d-flex justify-content-center gap-2">
        <input type="checkbox" class="form-check-input bg-dark" id="checkbox-signup"
          formControlName="terms_and_conditions" />
        <label class="form-check-label textoform" for="checkbox-signup">Aceptar
          <a href="javascript: void(0);" class="textoterminos"> <b>términos</b></a></label>
      </div>
      <div class="mb-0 d-grid text-center">
        <button [disabled]="!formGroup.valid" class="btn btn-primary hover:btn-primary-focus w-full capitalize"
          type="submit">
          Registrarse
        </button><br>
      </div>
    </form>
    <!-- Footer-->
    <footer class="footer footer-alt">
      <p class=" texton">
        ¿Ya tienes cuenta?
        <a href="/login" class="ms-1 textoiniciar"><b> ¡Inicia Sesión!</b></a>
      </p>
    </footer>
  </div>
</div>
<!-- end form-->