<div class="area"></div><nav class="main-menu">
    <ul>
        <li>
            <a href="https://jbfarrow.com">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    Dashboard
                </span>
            </a>
          
        </li>
        <li class="has-subnav">
            <a href="mecanico">
                <i class="fa fa-globe fa-2x"></i>
                <span class="nav-text">
                    top 10 mecanicos
                </span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a href="#">
               <i class="fa fa-comments fa-2x"></i>
                <span class="nav-text">
                    mis pedidos
                </span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a routerLink="/vehiculo">
               <i class="fa fa-comments fa-2x"></i>
                <span class="nav-text">
                    mis vehiculos
                </span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a href="cliente">
               <i class="fa fa-camera-retro fa-2x"></i>
                <span class="nav-text">
                    informacion general 
                </span>
            </a>
           
        </li>
        <li>
    </ul>

    <ul class="logout">
        <li>
           <a (click)="logout()">
                 <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>  
    </ul>
</nav>
