<!--animacion-->
<div class="burbujas">
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
</div>
<img src="../../../assets/imhg/Nosotros/background/bg.jpg" alt="" class="bg-img">
<!-- Información personal -->
<div class="container" data-aos="fade-down">
  <br><br>
  <h1 class="col-12">Información Personal</h1>
  <br><br><br><br>
  <form class="formvisible">
    <div class="form-group row">
      <label for="staticEmail" class="col-5 col-form-label">usuario: </label>
      <div class="col-sm-5">
        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value={{cliente.name}}>
      </div>
    </div>
    <div class="form-group row">
      <label for="staticnombres" class="col-5 col-form-label">Nombres: </label>
      <div class="col-sm-5">
        <input type="text" readonly class="form-control-plaintext" id="staticnombres" value={{cliente.nombres}}>
      </div>
    </div>
    <div class="form-group row">
      <label for="staticapellidos" class="col-5 col-form-label">Apellidos: </label>
      <div class="col-sm-5">
        <input type="text" readonly class="form-control-plaintext" id="staticapellidos" value={{cliente.apellidos}}>
      </div>
    </div>
    <div class="form-group row">
      <label for="staticidentificacion" class="col-5 col-form-label">Identificacion: </label>
      <div class="col-sm-5">
        <input type="text" readonly class="form-control-plaintext" id="staticidentificacion"
          value={{cliente.identificacion}}>
      </div>
    </div>
  </form>

  <br> <br> <br>
  <button type="button" class="btn btn-primary" (click)="showDetails = !showDetails"
    (click)="openPopup()">editar</button>
</div>


<!-- form para editar -->

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="bg-blur-modal"></div>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><b>Editar Datos Personales</b></h4>
      </div>
      <div class="modal-body">
        <div *ngIf="showDetails">
          <form (submit)="updateUser()" class="editar">
            <div class="form-row">
              <div class="form-group col-md-8">
                <label for="name">Usuario:</label>
                <input style="color: black;" type="text" id="name" name="name" class="form-control"
                  [(ngModel)]="cliente.name">
              </div>
              <br>
              <div class="form-group col-md-8">
                <label for="email">Email: </label>
                <input style="color: black;" type="email" id="email" name="email" class="form-control"
                  [(ngModel)]="cliente.email">
              </div>
              <br>
            </div>
            <div class="form-group col-md-8">
              <label for="inputNombres">Nombres:</label>
              <input style="color: black;" type="text" class="form-control" id="phone" name="nombres"
                [(ngModel)]="cliente.nombres">
            </div>
            <br>
            <div class="form-group col-md-8">
              <label for="inputApellidos">Apellidos:</label>
              <input style="color: black;" type="text" class="form-control" id="inputApellidos" name="apellidos"
                [(ngModel)]="cliente.apellidos">
            </div>
            <br>
            <div class="form-row">
              <div class="form-group col-md-8">
                <label for="inputidtipo">Tipo de Identificación: </label>
                <input style="color: black;" type="text" class="form-control" id="inputidtipo"
                  name="tipo_identificacion" [(ngModel)]="cliente.tipo_identificacion">
              </div>
              <br>
              <div class="form-group col-md-8">
                <label for="inputIdentificacion">Identificación: </label>
                <input style="color: black;" id="inputIdentificacion" class="form-control" name="identificacion"
                  [(ngModel)]="cliente.identificacion">
              </div>
              <br>
              <div class="form-group col-md-8">
                <label for="phone">Contacto: </label>
                <input style="color: black;" type="tel" class="form-control" id="phone" name="contacto"
                  [(ngModel)]="cliente.contacto">
              </div>
              <br>
            </div>
            <br><br>
            <button type="submit" class="btn btn-primary btn-guardar">Guardar</button>
          </form>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closePopup()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>