.container{
  margin-left: 300px;
  text-align: center;
  background-color: rgb(54, 54, 54);
  width: 60%;
  background-color: rgba(0, 0, 0, 0.767);
  padding-bottom: 5px;
  border-radius: 50px;
  padding-bottom: 30px;
  z-index: -1;
}

.formvisible{
    align-items: center;
    color: white;
    text-align: left;
}

h1{
    align-items: center;
    color: white;
}

.formvisible{
    margin-left: 70px;
    font-size: 20px;
}

input{
    color: white;
}

.editar{
    text-align: center;
    margin-left: 125px;
}

.btn-guardar{
    margin-left: -125px !important;
}

/* burbujas */

.burbuja {
    border-radius: 50%;
    background: #000000;
    opacity: .5;
  
    position: absolute;
    bottom: -150;
  
    animation: burbujas 3s linear infinite;
    z-index: -1;
  }
  
  .burbuja:nth-child(1) {
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 10s;
    animation-delay: 0s;
  }
  
  .burbuja:nth-child(2) {
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 9s;
    animation-delay: 0s;
  }
  
  .burbuja:nth-child(3) {
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 0s;
  }
  
  .burbuja:nth-child(4) {
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 0s;
  }
  
  .burbuja:nth-child(5) {
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 8s;
    animation-delay: 0s;
  }
  
  .burbuja:nth-child(6) {
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 6s;
    animation-delay: 0s;
  }
  
  .burbuja:nth-child(7) {
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 2s;
    animation-delay: 0s;
  }
  
  .burbuja:nth-child(8) {
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 0s;
  }
  
  .burbuja:nth-child(9) {
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 4s;
    animation-delay: 0s;
  }
  
  .burbuja:nth-child(10) {
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 0s;
  }
  
  
  @keyframes burbujas {
    0% {
      bottom: 0;
      opacity: 0;
    }
  
    30% {
      transform: translateX(30px);
    }
  
    50% {
      opacity: .4;
    }
  
    100% {
      bottom: 100vh;
      opacity: 0;
    }
  }
  
  @keyframes movimiento {
    0% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(30px);
    }
  
    100% {
      transform: translateY(0);
    }
  }

  /*bg*/
.bg-img {
  position: absolute;
  width: 83.9%;
  height: 100.6%;
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  background-color: #e4e4e4;
  padding-bottom: 10px;
  margin-top: -20px;
  margin-left: -20px;
  z-index: -2;
}

.modal{
  color: white;
  margin-left: 130px;
}

.modal-content{
  position: absolute;
  background-color: #1a1a1a;
  border-radius: 25px;
}

.modal-title{
  font-size: 20px;
  margin: auto;
}

.bg-blur-modal{
  background-color: #bbbbbbd0;
  z-index: -1;
  width: 92.5%;
  height: 120%;
  position: absolute;
  right: 5px;
}