<!--animacion-->
<div class="burbujas">
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
  <div class="burbuja"></div>
</div>
<img src="../../../assets/imhg/Nosotros/background/bg.jpg" alt="" class="bg-img">
<!-- Información personal -->
<div class="container" data-aos="fade-down">
  <br><br>
  <h1 class="col-12">Información Personal</h1>
  <br><br><br><br>
  <form class="formvisible">
    <div class="form-group row">
      <label for="staticEmail" class="col-5 col-form-label">usuario: </label>
      <div class="col-sm-5">
        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value={{cliente.name}}>
      </div>
    </div>
    <div class="form-group row">
      <label for="staticnombres" class="col-5 col-form-label">Nombres: </label>
      <div class="col-sm-5">
        <input type="text" readonly class="form-control-plaintext" id="staticnombres" value={{cliente.nombres}}>
      </div>
    </div>
    <div class="form-group row">
      <label for="staticapellidos" class="col-5 col-form-label">Apellidos: </label>
      <div class="col-sm-5">
        <input type="text" readonly class="form-control-plaintext" id="staticapellidos" value={{cliente.apellidos}}>
      </div>
    </div>
    <div class="form-group row">
      <label for="staticidentificacion" class="col-5 col-form-label">Identificacion: </label>
      <div class="col-sm-5">
        <input type="text" readonly class="form-control-plaintext" id="staticidentificacion" value={{cliente.cedula}}>
      </div>
    </div>
  </form>

  <button type="button" class="btn btn-primary btn-editar" (click)="openPopup()">editar</button>
</div>


<!-- form para editar -->

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
  <div class="bg-blur-modal"></div>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><b>Editar Datos Personales</b></h4>
      </div>
      <div class="modal-body">
        <div>
          <form class="editar" [formGroup]="formGroup">
            <div class="form-row">
              <div class="form-group col-md-8">
                <label for="name">Usuario:</label>
                <input formControlName="usuario" style="color: black;" type="text" id="name" name="name"
                  class="form-control" [(ngModel)]="cliente.name">
                <small *ngIf="formGroup.get('usuario').errors &&
                  formGroup.get('usuario').hasError('maxlength')" class="text-danger">Máximo 10 caracteres</small>
                <small *ngIf="formGroup.get('usuario').errors &&
                  formGroup.get('usuario').hasError('required')" class="text-danger">Se debe llenar</small>
                <small *ngIf="formGroup.get('usuario').errors &&
                  formGroup.get('usuario').hasError('minlength')" class="text-danger">Minimo 3 caracteres</small>
              </div>
              <br>
              <div class="form-group col-md-8">
                <label for="email">Email: </label>
                <input formControlName="email" style="color: black;" type="email" id="email" name="email"
                  class="form-control" [(ngModel)]="cliente.email">
                <small *ngIf="formGroup.get('email').errors &&
                  formGroup.get('email').hasError('email')" class="text-danger">Email Inválido</small>
                <small *ngIf="formGroup.get('email').errors &&
                  formGroup.get('email').hasError('required')" class="text-danger">Se debe llenar</small>
              </div>
              <br>
            </div>
            <div class="form-group col-md-8">
              <label for="inputNombres">Nombres:</label>
              <input formControlName="nombres" style="color: black;" type="text" class="form-control" id="phone"
                name="nombres" [(ngModel)]="cliente.nombres">
              <small *ngIf="formGroup.get('nombres').errors &&
                  formGroup.get('nombres').hasError('required')" class="text-danger">Se debe llenar</small>
            </div>
            <br>
            <div class="form-group col-md-8">
              <label for="inputApellidos">Apellidos:</label>
              <input formControlName="apellidos" style="color: black;" type="text" class="form-control"
                id="inputApellidos" name="apellidos" [(ngModel)]="cliente.apellidos">
              <small *ngIf="formGroup.get('apellidos').errors &&
                  formGroup.get('apellidos').hasError('required')" class="text-danger">Se debe llenar</small>
            </div>
            <br>
            <!-- <div class="form-row">
              <div class="form-group col-md-8">
                <label formControlName="" for="inputidtipo">Tipo de Identificación: </label>
                <input style="color: black;" type="text" class="form-control" id="inputidtipo"
                  name="tipo_identificacion" [(ngModel)]="cliente.tipo_identificacion">
              </div>
              <br> -->
            <div class="col-md-8">
              <label for="inputIdentificacion">Cedula: </label>
              <input formControlName="cedula" style="color: black;" id="inputIdentificacion" class="form-control"
                name="identificacion" [(ngModel)]="cliente.cedula" (change)="validadorDeCedula(cliente.cedula)"
                (keypress)="validateFormat($event)">
              <small *ngIf="!validador" class="text-danger">Cédula Inválida</small>
              <small *ngIf="formGroup.get('cedula').errors &&
                  formGroup.get('cedula').hasError('required')" class="text-danger"></small>

            </div>
            <br>
            <div class="form-group col-md-8">
              <label for="phone">Contacto: </label>
              <input formControlName="contacto" style="color: black;" type="tel" class="form-control" id="phone"
                name="contacto" [(ngModel)]="cliente.contacto" (keypress)="validateFormat($event)">
              <small *ngIf="formGroup.get('contacto').errors &&
                  formGroup.get('contacto').hasError('required')" class="text-danger">Se debe llenar</small>
              <small *ngIf="formGroup.get('contacto').errors &&
                  formGroup.get('contacto').hasError('maxlength')" class="text-danger">Maximo 10 dígitos</small>
              <small *ngIf="formGroup.get('contacto').errors &&
                  formGroup.get('contacto').hasError('minlength')" class="text-danger">minimo 10 dígitos</small>
            </div>
            <br>

            <br><br>
            <button [disabled]="!formGroup.valid" type="submit" class="btn btn-primary btn-guardar"
              (click)="updateUser()" (click)="closePopup()" (click)="openPopupOK()">Guardar</button>
          </form>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closePopup()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyleOK}">
  <div class="bg-blur-modal"></div>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><b>Actualizado</b></h4>
      </div>
      <div class="modal-body exito">
        <img class="exito-img" src="https://img.icons8.com/color/100/null/ok--v1.png"/>
        <h1>¡Sus datos se actualizaron exitosamente!</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-okcambios" (click)="closePopupOK()">
          Ok
        </button>
      </div>
    </div>
  </div>
</div>